{% extends 'brach_lists/base.html' %}

{% block header_text %}榆林分行日动态报送系统{% endblock %}

{% block form_action %}/brach_lists/{{list.id}}/add_item{% endblock %}

{% block form_body %}
    <input id="id_new_item" name="item_text" placeholder="请输入动态事项"/>
{% endblock %}

{% block brach_name %}{{list.full_name}}：{% endblock %}

{% block table %}
<table id="id_list_table">

    {% for thing in things %}
        {% if thing.0 == today %}
            <tr><td><h3>今日动态（{{ thing.0.year }}年{{ thing.0.month }}月{{ thing.0.day }}日）：</h3></td></tr>
            {% if thing.1|length_is:"1" %}
                <tr><td>{{ thing.1.0 }}。</td></tr>
            {% else %}
                {% for i in thing.1 %}
                    {% if forloop.last %}
                        <tr><td>{{forloop.counter}}、{{ i }}。</td></tr>
                    {% else %}
                        <tr><td>{{forloop.counter}}、{{ i }}；</td></tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% else %}
            <tr><td><h4>{{ thing.0.year }}年{{ thing.0.month }}月{{ thing.0.day }}日动态：</h4></td></tr>
            {% if thing.1|length_is:"1" %}
                <tr><td>{{ thing.1.0 }}。</td></tr>
            {% else %}
                {% for i in thing.1 %}
                    {% if forloop.last %}
                        <tr><td>{{forloop.counter}}、{{ i }}。</td></tr>
                    {% else %}
                        <tr><td>{{forloop.counter}}、{{ i }}；</td></tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        
    {% endfor %}

</table>
{% endblock %}
